* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: rgba(248,248,248, 0.85);
  font-family: monospace;
  font-size: 16px;
  height: 100%;
  line-height: 1.25em;
  margin: 0;
  width: 100%;
}

#Field {
  height: 100%;
  padding: 2.5em 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

#Message {
  background-color: #181818;
  border-bottom: 1px solid #444;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  width: 100%;
}

#Status {
  background-color: #181818;
  border-top: 1px solid #444;
  bottom: 0;
  padding: 8px 16px;
  position: fixed;
  width: 100%;
}

#Status > .stats > .cpu {
  margin-left: 16px;
}

#Status > .energy {
  float: right;
}
